<h1>Detalhes do Dispositivo</h1>

    <p>O dispositivo <%= @device.device %> pertence ao usuário <%= @device.user.name %></p>
    <!-- Substitua 'device' pelo atributo correto que representa o nome do dispositivo e 'user' pelo atributo correto que representa o usuário no seu modelo Device -->
    
    <%= link_to 'Voltar', devices_path %>
    