<h1>Detalhes do Usuário</h1>

    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Nome:</strong> <%= @user.name %></p>
    <!-- Adicione outras informações do usuário conforme necessário -->
    